In [3]:
from sklearn.metrics import accuracy_score, f1_score
import pandas as pd

In [21]:
pre_test = pd.read_csv('pre_test_accounts_answer.csv', index_col = 'account')
y_test = pre_test['class']

In [8]:
pre_test.head()

          class
account
20000000      0
20000011      1
20000025      0
20000029      0
20000041      0

In [19]:
pre_test = pd.read_csv('Tryout data/result.csv', index_col = 'Unnamed: 0')
y_pred = pre_test.iloc[:,0]

In [22]:
print("Accuracy: %.2f" %accuracy_score(y_test, y_pred))
print("F1 score: %.2f" %f1_score(y_test, y_pred))

Accuracy: 0.98
F1 score: 0.84